.todo-table  {
  width: 100%;

  th {
    text-decoration: underline;
  }

}

.add-button {
  margin-left: 15px;
  width: 60px;
}

form.level-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.finished {
  text-decoration: line-through;
}
