.todo-table  {
  width: 100%;

  th {
    text-decoration: underline;
  }

}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  margin: 3em 0;

  ui-todo-input {
    width: 70%
  }
}

.finished {
  text-decoration: line-through;
}
